@font-face{
    font-family: "RobotoCondensed-Light";
    src: url(../font/RobotoCondensed-Light.ttf);
}
@font-face{
    font-family: "DINPro-Light";
    src: url(../font/DINPro-Light.ttf);
}
@font-face{
    font-family: "RobotoCondensed-Bold";
    src: url(../font/RobotoCondensed-Bold.ttf)
}
@font-face{
    font-family: "DIN Condensed";
    src: url(../font/DIN\ Condensed.otf);
}
@font-face{
    font-family: "RobotoCondensed-Regular";
    src: url(../font/RobotoCondensed-Regular.ttf);
}

/* clear native ctyle */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
button,input{
    border: none;
    background:transparent;
    outline: none;
}
.header-wrap{
    background:url(../img/header-bg.png) no-repeat;
    background-size: cover;
}
.header{
    text-align: center;
    padding-top: 10px;
}
.header-button{
    width: 27px;
    height: 20px;
    background: url(../img/burger.png) no-repeat center;
    cursor: pointer;
}
.header-lang__link{
    display: inline-block; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 30px;
    font-family: "RobotoCondensed-Light";
    font-size: 11px;
    text-transform: uppercase; 
}
.active-lang{
    background-color: #00aeef;
    color: #fff;
}
.header-callback{
   font-family: "RobotoCondensed-Bold",sans-serif; 
}
.header-callback>div{
    display: inline-block;
} 
.code{
    font-size: 12px;
}
.tel{
    color: #f68428;
}
.callback-link{
    font-family: "DINPro-Light",sans-serif;
    border-bottom: 1px solid #00aeef;
    color: #00aeef;
    font-size: 14px;
    line-height: 22px;
}
/* REASON */
.reason{
    text-align: left;
    padding-bottom: 45px; 
    color: #0054a6; 
}
.section-title{
    font:48px/52px "DIN Condensed", sans-serif;
    margin-bottom: 70px;text-transform: uppercase;
}
.reason-list{
    font: 18px "RobotoCondensed-Regular" , sans-serif;
}
.reason-list__item{
    padding: 30px 0 30px 100px;
    position: relative;
}
 
.reason-list__item:first-child{
    background: url(../img/reason-1.png) no-repeat left center;
}
.reason-list__item:nth-child(2){
    background: url(../img/reason-2.png) no-repeat left center;
}
.reason-list__item:last-child{
    background: url(../img/reason-3.png) no-repeat left center;
}
 /* NAV */
 .nav-wrap{
    background-color: #00aeef;
    padding: 10px 0;
 }
 /* nav list */
 .nav-list__item{
    border-left: 1px solid #c1e5f8; 
    padding: 0 25px;
 }
 .nav-list__link{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px;
    font: 18px/22px "RobotoCondensed-Regular", sans-serif;
    color: #fff;
 }
 .nav-list__link:hover{
    background-color: #f68428;
 }
 /* section advice */
 .feature{
    padding:80px 0;
 }
 .feature .section-title{
    color: #00aeef;
    text-align: center;
}
 .feature-list__item{
    text-align: left;
    padding-left: 55px;
    padding-right: 10px;
    flex-basis: calc(100% / 3);
    font-family: "DIN Condensed", sans-serif;
    color: #303030;
    margin-bottom: 35px;
 }
  
 .feature-list__item:first-child{
     background: url(../img/feature-1.png) no-repeat left top;
 }
 .feature-list__item:nth-child(2){
     background: url(../img/feature-2.png) no-repeat left top;
 }
 .feature-list__item:nth-child(3){
     background: url(../img/feature-3.png) no-repeat left top;
 }
 .feature-list__item:nth-child(4){
     background: url(../img/feature-4.png) no-repeat left top;
 }
 .feature-list__item:nth-child(5){
     background: url(../img/feature-5.png) no-repeat left top;
 }
 .feature-list__item:last-child{
     background: url(../img/feature-6.png) no-repeat left top;
 }
 .feature-list__title{
     font-size: 26px;
 }
 .feature-list__desc{
     font-size: 24px;
     color: #4c4c4c;
 }
 /* section we can */
 .wecan{
     position: relative;
 }
 .wecan-wrap{ 
     background-color: #0054a6;
     color: #fff;
     text-align: center;
     font-family: "DIN Condensed", sans-serif;
 }
 .wecan-title{
     padding: 25px 0;
     background: url(../img/we-can.png) no-repeat center;
     font-size: 74px; 
 }
 .wecan-what{
     text-align: left;
     font-size: 28px;
     line-height: 25px;
     padding-left: 30px;
 }
 .wecan-90{
    position: absolute;
    top: 61px;
    left: -72px;
    transform: rotate(-90deg);
    font-size: 22px;
 }
 /* our work */
 .ourwork{
     color: #00aeef;
     padding-top: 75px;
     text-align: center; 
 }
 .was,
 .now{
     height: 460px;
     overflow: hidden;
     position: relative;
 }
 .was::after,
 .now::after{
     position: absolute;
     top: 50%;
     color: #fff;
     font: 36px "DIN Condensed", sans-serif;
     text-transform: uppercase;
     padding: 5px 20px;
     /* transition: all .3s linear; */

 }
 .was::after{
     content: "было";
     background:url(../img/was-arrow.png) no-repeat center;
     right: 2px;
 }
 .was:hover::after {
    transform: translateX(-10px);
    transition: all .3s linear; 
 }
 .now::after{
     content: "стало";
     background:url(../img/now-arrow.png) no-repeat center;
     left: 1px;
 }
 .now:hover::after {
    transform: translateX(10px);
    transition: all .3s linear;
 }
 .preview{
     text-align: center;
 }
 .preview-img{
     width: calc(100% / 7);
     padding: 2px;
 }
 .preview-img:hover{
     box-shadow: inset 0 0 0 2px #00aeef;
 }