@font-face{
    font-family: "RobotoCondensed-Light";
    src: url(../font/RobotoCondensed-Light.ttf);
}
@font-face{
    font-family: "DINPro-Light";
    src: url(../font/DINPro-Light.ttf);
}
@font-face{
    font-family: "DINPro";
    src: url(../font/DINPro.ttf);
}
@font-face{
    font-family: "RobotoCondensed-Bold";
    src: url(../font/RobotoCondensed-Bold.ttf)
}
@font-face{
    font-family: "DIN Condensed";
    src: url(../font/DIN\ Condensed.otf);
}
@font-face{
    font-family: "RobotoCondensed-Regular";
    src: url(../font/RobotoCondensed-Regular.ttf);
}
@font-face{
    font-family: "Roboto-Light";
    src: url(../font/Roboto-Light.ttf);
}

/* clear native ctyle */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
button,[type="button"]{
    border: none;
    background:transparent;
    outline: none;
}
/* reusful style */
.section-title{
    font:48px/52px "DIN Condensed", sans-serif;
    margin-bottom: 40px;
    text-transform: uppercase;
    color:#00aeef;
    text-align: center;
}
.font-blue-light{
    color: #00aeef;
}
.font-blue{
    color: #0054a6;  
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.orange{
    color: #f68428;
}
/* ------------ */
.header-wrap{
    background:url(../img/header-bg.png) no-repeat;
    background-size: cover;
}
.header{
    text-align: center;
    padding-top: 10px;
}
.header-button{
    width: 27px;
    height: 20px;
    background: url(../img/burger.png) no-repeat center;
    cursor: pointer;
}
.header-lang__link{
    display: inline-block; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 30px;
    font-family: "RobotoCondensed-Light";
    font-size: 11px;
    text-transform: uppercase; 
}
.active-lang{
    background-color: #00aeef;
    color: #fff;
}
.header-callback{
   font-family: "RobotoCondensed-Bold",sans-serif; 
}
.header-callback>div{
    display: inline-block;
} 
.code{
    font-size: 12px;
}
.tel{
    color: #f68428;
}
.callback-link{
    font-family: "DINPro-Light",sans-serif;
    border-bottom: 1px solid #00aeef; 
    font-size: 14px;
    line-height: 22px;
}
/* REASON */
.reason{
    text-align: left;
    padding-bottom: 45px;
} 

.reason-list{
    font: 18px "RobotoCondensed-Regular" , sans-serif;
}
.reason-list__item{
    padding: 30px 0 30px 100px;
    position: relative;
}
 
.reason-list__item:first-child{
    background: url(../img/reason-1.png) no-repeat left center;
}
.reason-list__item:nth-child(2){
    background: url(../img/reason-2.png) no-repeat left center;
}
.reason-list__item:last-child{
    background: url(../img/reason-3.png) no-repeat left center;
}
 /* NAV */
 .nav-wrap{
    background-color: #00aeef;
    padding: 10px 0;
 }
 /* nav list */
 .nav-list__item{
    border-left: 1px solid #c1e5f8; 
    padding: 0 25px;
 }
 .nav-list__link{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px;
    font: 18px/22px "RobotoCondensed-Regular", sans-serif;
    color: #fff;
 }
 .nav-list__link:hover{
    background-color: #f68428;
 }
 /* section advice */
 .feature{
    padding:80px 0;
 } 
 .feature-list__item{
    text-align: left;
    padding-left: 55px;
    padding-right: 10px;
    flex-basis: calc(100% / 3);
    font-family: "DIN Condensed", sans-serif;
    color: #303030;
    margin-bottom: 35px;
 }
  
 .feature-list__item:first-child{
     background: url(../img/feature-1.png) no-repeat left top;
 }
 .feature-list__item:nth-child(2){
     background: url(../img/feature-2.png) no-repeat left top;
 }
 .feature-list__item:nth-child(3){
     background: url(../img/feature-3.png) no-repeat left top;
 }
 .feature-list__item:nth-child(4){
     background: url(../img/feature-4.png) no-repeat left top;
 }
 .feature-list__item:nth-child(5){
     background: url(../img/feature-5.png) no-repeat left top;
 }
 .feature-list__item:last-child{
     background: url(../img/feature-6.png) no-repeat left top;
 }
 .feature-list__title{
     font-size: 26px;
 }
 .feature-list__desc{
     font-size: 24px;
     color: #4c4c4c;
 }
 /* section we can */
 .wecan{
     position: relative;
 }
 .wecan-wrap{ 
     background-color: #0054a6;
     color: #fff;
     text-align: center;
     font-family: "DIN Condensed", sans-serif;
 }
 .wecan-title{
     padding: 25px 0;
     background: url(../img/we-can.png) no-repeat center;
     font-size: 74px; 
 }
 .wecan-what{
     text-align: left;
     font-size: 28px;
     line-height: 25px;
     padding-left: 30px;
 }
 .wecan-90{
    position: absolute;
    top: 61px;
    left: -72px;
    transform: rotate(-90deg);
    font-size: 22px;
 }
 /* our work */
 .ourwork,
 .calc{ 
     padding-top: 75px; 
 }
 .was,
 .now{
     height:460px;
     overflow: hidden;
     position: relative;
 }
 .was::after,
 .now::after{
     position: absolute;
     top: 50%;
     color: #fff;
     font: 36px "DIN Condensed", sans-serif;
     text-transform: uppercase;
     padding: 5px 20px;
     /* transition: all .3s linear; */

 }
 .was::after{
     content: "было";
     background:url(../img/was-arrow.png) no-repeat center;
     right: 2px;
 }
 .was:hover::after {
    transform: translateX(-10px);
    transition: all .3s linear; 
 }
 .now::after{
     content: "стало";
     background:url(../img/now-arrow.png) no-repeat center;
     left: 1px;
 }
 .now:hover::after {
    transform: translateX(10px);
    transition: all .3s linear;
 }
  
 .preview-img{
     width: calc(100% / 7);
     padding: 2px;
 }
 .preview-img:hover{
     box-shadow: inset 0 0 0 2px #00aeef;
 }
 /* form */
 .calc-form>div{
     margin-bottom: 20px;
 }
  
.user-question{
    font: 20px/24px "DIN Condensed";
    text-align: right; 
    padding-right: 12px;
}
.user-answer{
    font: 16px "DINPro",sans-serif;
    padding-left: 12px;
}
.user-question,
.user-answer{
    display: inline-block;
    width: 45%; 
    vertical-align: top;
} 
.calc-form label::before{
    content:"";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #c5e9f9;
    margin-right: 5px;
}
.multiple label::before{
    border-radius: 2px;
}
[for="room"]{
    margin-right: 20px;
}
[for="everyday"],
[for="own"]{
    margin-right: 7px;
} 
[type="radio"],
[type="checkbox"]{
    display: none;
}
[type="radio"]:checked + label::before{
    background-color: #f68428;
    box-shadow:inset 0 0 0 2px #fff;
}
[type="checkbox"]:checked + label::before{
    background-color: #f68428;  
    box-shadow:inset 0 0 0 2px #fff;
}
.last-option-box{
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-bottom: 5px solid #c5e9f9;
}
.last-option-box label{
    display: block;
}
.form-result{
    text-align: center;
    font-family: "DIN Condensed", sans-serif;
}
.accumulation{
    font-size: 30px;  
} 
.tips{
   font-size: 18px;
   position: relative; 
   display: inline-block;
   margin-bottom: 25px;
}
.tips::before{
    content: "";
    position: absolute;
    left: -6%;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    background:  #f68428 url(../img/warning.png) no-repeat center;
}
.form-send{
    font: 22px "DINPro";
    color: #fff;
    background-color: #f68428;
    padding: 15px 35px;
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
}
/* achive */
.testimonial{
    position: relative;
}
.testimonial-wrap{
    padding: 45px 0;
    background-color: #c5e9f9;
}
.testimonial-text{
    margin-bottom: 15px;
}
.testimonial-text,
.testimonial-author{
    font: 18px "DINPro";
    text-align: center;
}
/* control */
.testimonial-prev,
.testimonial-next{
    position: absolute;
    top: 45%;
    width: 25px;
    height: 65px;
}
.testimonial-prev:hover {
    background: url(../img/testim-active-prev.png) no-repeat center;
}
.testimonial-next:hover {
    background: url(../img/testim-active-next.png) no-repeat center;
}
.testimonial-prev{
    left: 5%;
    background: url(../img/testim-prev.png) no-repeat center;
}
.testimonial-next{
    right: 5%;
    background: url(../img/testim-next.png) no-repeat center; 
}
/* FAQ */
.faq-wrap{
    padding-top: 65px;
    background: url(../img/faq-bg.png) no-repeat;
} 
.faq-question{
    font: 20px "RobotoCondensed-Regular";
    display: block;
    padding: 5px;
    background-color: #efefef;
    cursor: pointer; 
    position: relative;
}
.faq-question::after{
    position: absolute;
    content: "";
    right: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    background: url(../img/plus.png)no-repeat center;
}
.faq-answer{
    font: 14px/20px "Roboto-Light";
    padding: 5px 20px;  
    opacity: 0;
    height: 0;
    transition: all .3s linear; 
}
/* accordeon */
.q-1:checked ~ .faq-list .a-1::after,
.q-2:checked ~ .faq-list .a-2::after,
.q-3:checked ~ .faq-list .a-3::after,
.q-4:checked ~ .faq-list .a-4::after,
.q-5:checked ~ .faq-list .a-5::after,
.q-6:checked ~ .faq-list .a-6::after {
    background: url(../img/minus.png)no-repeat center; 
}
.q-1:checked ~ .faq-list .a-1,
.q-2:checked ~ .faq-list .a-2,
.q-3:checked ~ .faq-list .a-3,
.q-4:checked ~ .faq-list .a-4,
.q-5:checked ~ .faq-list .a-5,
.q-6:checked ~ .faq-list .a-6 {
    background-color: #b1e2f8;
    color: #0054a6; 
}
.q-1:checked ~ .faq-list .a-1 + p,
.q-2:checked ~ .faq-list .a-2 + p,
.q-3:checked ~ .faq-list .a-3 + p,
.q-4:checked ~ .faq-list .a-4 + p,
.q-5:checked ~ .faq-list .a-5 + p,
.q-6:checked ~ .faq-list .a-6 + p {
    opacity: 1;
    height: auto;
    transition: all .3s linear;
}
